<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.bluedot.minimalintegration">


    <application
        android:allowBackup="true"
        android:name="au.com.bluedot.minimalintegration.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="au.com.bluedot.minimalintegration.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="au.com.bluedot.minimalintegration.RequestPermissionActivity" />

        <receiver
            android:name="au.com.bluedot.minimalintegration.BluedotErrorReceiver"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="io.bluedot.point.SERVICE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="au.com.bluedot.minimalintegration.AppGeoTriggerReceiver"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="io.bluedot.point.GEOTRIGGER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="au.com.bluedot.minimalintegration.AppTempoReceiver"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="io.bluedot.point.TEMPO" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
